


@media (min-width:320px) and (max-width:575px){
    
.fivediv-acc{
    width: 100% !important;
}
.heading h1{
    font-size: 2rem !important;
    line-height: 3rem  !important;
    

}
}
@media (min-width:576px) and (max-width:768px){
    .fivediv-acc{
        width: 70% !important;
    }
    .heading h1{
        font-size: 4rem !important;
        line-height: 4.5rem  !important;
        
    
    }
}


@media (min-width:769px) and (max-width:1024px){
    .fivediv-acc{
        width: 70% !important;
    }
    .heading h1{
        font-size: 4rem !important;
        line-height: 4.5rem  !important;
        
    
    }
} 

@media (min-width:1025px) and (max-width:1250px){
    .fivediv-acc{
        width: 70% !important;
    }
    .heading h1{
        font-size: 6rem !important;
        line-height: 8rem  !important;
        
    
    }
}
