.third-div{
    height: 19.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: var(--gray-color);
}
.same{
    display: flex;
    align-items: center;
}
@media (min-width:320px) and (max-width:480px){
    .third-div{
        flex-direction: column;
        height: auto;
        padding:2rem;
    }
    .same{
        flex-direction: column;
    }
}
