
.second-part {
  background-image: url("../../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

}
@media (min-width: 320px) and (max-width: 575px) {
  .main-second-part {
    width: 100%;
  }
  .second-part {
    padding: 3rem 6rem 2rem 2rem !important;

    width: 100vw !important;
    height: 100% !important;
  }
  .second-part h4 {
    font-size: 1rem !important;
    line-height: 1.6rem !important;
  }
  .second-part h1 {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }
  .second-part p {
    font-size: 0.5rem !important;
    line-height: 1rem !important;
  }
  .button {
    margin-top: 0rem !important;
    font-size: 0.5rem;
  }
  .imgicon-2 {
    bottom: 1rem !important;
  }

.sign {
  font-size: 3.3rem !important;
}
}
@media (min-width: 576px) and (max-width: 768px) {
  .main-second-part {
    width: 100%;
  }
  .second-part {
    padding: 3rem 4rem 2rem 5rem !important;
    width: 100vw !important;
    height: 100% !important;
  }
  .second-part h4 {
    font-size: 1.5rem !important;
    line-height: 1.6rem !important;
  }
  .second-part h1 {
    font-size: 3.1rem !important;
    line-height: 7rem !important;
  }
  .second-part p {
    font-size: 1rem !important;
    line-height: 1.7rem !important;
    margin-bottom: 4rem !important;
  }
  .button {
    margin-top: 2rem !important;
    font-size: 2rem;
  }
  .imgicon-2 {
    bottom: 1rem !important;
  }
  .sign {
    font-size: 6rem !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main-second-part {
        width: 100%;
      }
      .second-part {
        padding: 3rem 4rem 2rem 5rem !important;
        width: 100vw !important;
        height: 100% !important;
      }
       .second-part h4 {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
      }
      .second-part h1 {
        font-size: 4.5rem !important;
        line-height: 9rem !important;
      } 
      .second-part p {
        font-size: 1.2rem !important;
        line-height: 2rem !important;
       
      }
      .button {
        margin-top: 6rem !important;
        font-size: 2rem;
      }
      .imgicon-2 {
        bottom: 2rem !important;
      }
      .sign {
        font-size: 8rem !important;
      } 
}


@media (min-width: 1025px) and (max-width: 1200px) {
    .main-second-part {
        width: 100%;
      }
      .second-part {
        padding: 5rem 4rem 5rem 7rem !important;
        width: 100vw !important;
        height: 100% !important;
      }
       .second-part h4 {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
      }
      .second-part h1 {
        font-size: 6rem !important;
        line-height: 9rem !important;
      } 
      .second-part p {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
       
      }
      .button {
        margin-top: 6rem !important;
        font-size: 2rem;
      }
      .imgicon-2 {
        bottom: 2rem !important;
      }
      .sign {
        font-size: 8rem !important;
      } 
}
